.header {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navlinks {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navlinks .navItem {
  font-weight: 500;
  /* letter-spacing: 1px; */
  margin-right: 25px;
}
.button {
  background-color: var(--base);
  height: 40px;
  width: 110px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: "Josefin Sans", sans-serif;
  color: var(--seablue);
  font-size: 0.9rem;
  font-weight: bold;
}
